CL_CITY = "sfbay"
CL_RSS_FEED = f"https://{CL_CITY}.craigslist.org/search/sss?format=rss&query=chair&sort=date"
MODEL_PATH = "/path/to/modelfile.h5"
KEEP_IMAGES = True
SCORE_THRESHOLD = 0.7
NOTIFICATION_SERVICE = "console"
TWILIO_SID = ""
TWILIO_TOKEN  = ""
TWILIO_TO_NUM = ""
TWILIO_FROM_NUM = ""